*{
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  
  background: linear-gradient(to left top, #060047,#2E295C);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}

@media only screen and (min-width: 900px) {
  body {
    background: linear-gradient(to left top, #060047,#2E295C);
    backdrop-filter: blur(1px);
  }
}

h1{
  color: white;
}